
/*@import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Quicksand';
  margin: 0px;
  padding: 0px;
}

button{
  font-family: 'Quicksand';
  background-color: #FF404F;
  padding: 15px 42px 15px 45px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid #A32933;
  border-right: 3px solid #A32933;
  border-bottom: 4px solid #A32933;
}

button:hover{
  background-color: #FF626F;
  transition-duration: .4s;
}

.main-container{

}

.container{
  margin: 70px 100px 0px 100px;
}

.active{
  background-color: #157A6E;
}

.home-container{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/girl-running.jpeg');
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 800px;

}

/*.running{
  position: relative;
  z-index: 10;
}*/

.image-container::after{
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000 ;
  opacity: 0.6;
  z-index: 20;
}

.z{
  position: relative;
  z-index: 50;

}

.z > img{
  max-height: 150px;

}

.title-container{
  position: relative;
  top: -220px;
  align-items: center;
  justify-content: center;
}

.ziel{
  position: relative;
  /*top: 10%;*/
  font-family: 'Abril Fatface';
  /*font-weight: bold;*/
  font-size: 120px;
  color: white;
  z-index: 9115;
  /*margin-top: -575px;
  padding-bottom: 35px;*/
}


/*.coaching{
  position: relative;
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 70px;
  color: white;
  z-index: 9115;
  margin-bottom: 100px;
}*/



.time{
  position: relative;
  top: -270px;
  font-family: 'Meddon';
  /*font-weight: bold;*/
  font-size: 50px;
  color: white;
  z-index: 80;
}

/*Colors
Bone: #DDD8C4
Wood brown: #C4886A
pink: #FF4057
seafoam: #7EC68B
teal: #157A6E
Xanadu: #76A078*/


.navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  height: 70px;
  background-color: #fff;
  /*border-bottom: 2px solid black;*/
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  margin-top: -70px;
  z-index: 10000;
}

/*.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}*/

.navlink{
  list-style: none;
  /*margin-right: 30px;*/
}

.link{
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 25px 30px;
}

.link:hover{
  background-color: #6AAAA2;
  transition-duration: .5s;
}

.what-is{
  font-family: 'Abril Fatface';
  font-size: 70px;

}

.meaning{
  font-family: 'Quicksand';
  font-size: 30px;
  margin-left: 80px;
}

.dutch{
  font-style: italic;
}

.word{
  font-size: 50px;
  font-weight: bold;
  color: #FF4057;
}

.zeel{
  font-style: normal;
}

.what-vision{
  font-family: 'Quicksand';
  font-size: 23px;
  margin: 20px 20px 20px 80px;
  border-left: 2px solid black;
  padding: 50px;
  line-height: 38px;
}

.offer{
  text-align: center;
}

.program{
  width: 33%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  justify-content: space-between;
  min-height: 650px;
}

.program-header{
  font-family: 'Abril Fatface';
  font-size: 35px;
}

.fa{
  font-size: 140px;
  /*border: 2px solid black;
  border-radius: 190px;
  padding: 40px 60px 50px 60px;*/
}

.fa-angle-double-right{
  padding: 30px 40px;
}

/*.break-icons{
  display: block;
}*/

.fa-angle-left, .fa-angle-right{
  font-size: 140px;
  /*padding: 30px;*/
}

/*.fa-angle-left{
  margin-bottom: 20px;
}*/

.fa-angle-right{
  margin-top: 20px;
}



.fa-angle-up{
 font-size: 140px;
}

/*****************ABOUT*****************/


.about-z{
  font-size: 23px;
}

.about-p{
  margin-top: 50px;
  line-height: 38px;
}

.that-ziel{
  font-family: 'Abril Fatface';
  font-size: 60px;
  line-height: 70px;
  font-style: italic;
  color: #FF4057;
  padding: 45px;
  border-left: 3px solid black;
  margin: 30px 0px;
}

.dream{
  font-family: 'Abril Fatface';
  position: absolute;
  top: -20px;
  font-size: 70px;
  font-style: italic;
  color: #FF4057;
  /*max-width:*/
  /*border-left: 3px solid black;*/
  /*margin-left: 150px;*/
  padding: 25px 400px 25px 50px;
}

.now{
  margin-top: 20px;
  margin-bottom: 20px;
}

.girl-sand{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/girl-sand.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 600px;
}


/*****************FOOTER*****************/


.footer{
  height: 200px;
  font-size: 25px;
  background-color: grey;
  padding: 50px 80px;
}

.social{
  font-size: 40px;
  margin-top: 10px;
  margin-right: 40px;
}

.social:hover{
  color: #157A6E;
  transition-duration: .4s;
}
